*{
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}
.game {
  position: relative;
  width: 350px;
  height: 350px;
  right: -39%;
  top: 155px;
  
}

.game-board {
  width: 350px;
  height: 350px;
}

.square {
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 0;
  text-align: center;
  width: 100px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 7vmin;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.status {
  position: absolute;
  display: flex;
  bottom: 46%;
  right: -52%;
  font-size: 25px;
}

h1 {
  position: absolute;
  top: -5%;
  right: 32%;
}


.play-again {
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
  cursor: pointer;
  right: 15px;
  top: 40px;
}

.score {
  width: 100px;
  position: relative;
  bottom: -45%;
  right: 37%;
}